/* Slider.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-infinite {
  animation: spin-slow 60s linear infinite;
}

.scrollbar-thin {
  scrollbar-width: thin;
}
.scrollbar-thumb-blue-600::-webkit-scrollbar-thumb {
  background-color: #2563eb;
  border-radius: 9999px;
}
.scrollbar-track-blue-200::-webkit-scrollbar-track {
  background-color: #bfdbfe;
}
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
}
